<div *ngIf="showSpinner" class="spinner-class">
    <mat-spinner></mat-spinner>
</div>

<content class="content">
    <!-- Título -->
    <mat-card class="tab-title">
        <h1>BEM-VINDO AO CONTROLADOR SMART GARDEN</h1>
        <h2>Aqui vode pode acessar informações e controlar seu jardim</h2>
    </mat-card>

    <div class="content-div">
        <!--Seção das Recomendações -->
        <mat-card class="card">
            <mat-form-field appearance="outline">
                <mat-label>Planta atual</mat-label>
                <mat-select [(value)]="plantaSelecionada">
                    <mat-option *ngFor="let planta of PLANTAS" [value]="planta">
                        {{planta.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="recs" [ngStyle]="{'visibility' : plantaSelecionada ? 'visible' : 'hidden'}">
                <span style="font-size: 18px; font-weight: 500;">Recomendações para {{plantaSelecionada?.nome}}</span>
                <div class="recs">
                    <span>Luminosidade: <span style="font-weight: 500;">{{plantaSelecionada?.luminosidade}}
                            lúmens</span></span>
                    <span>Umidade: <span style="font-weight: 500;">{{plantaSelecionada?.umidade}}%</span></span>
                    <span>Temperatura: <span style="font-weight: 500;">{{plantaSelecionada?.temperatura}}
                            °C</span></span>
                </div>
            </div>
        </mat-card>

        <!--Seção da Tabela -->
        <mat-card class="card">
            <!-- Temperatura -->
            <mat-card [style]="getStateColor('temp')">
                <mat-card-title>Temperatura</mat-card-title>
                <span>{{getStateText('temp')}}</span>
            </mat-card>

            <!-- Luminosidade -->
            <mat-card [style]="getStateColor('light')">
                <mat-card-title>Luminosidade</mat-card-title>
                <span>{{getStateText('light')}}</span>
            </mat-card>

            <!-- Umidade -->
            <mat-card [style]="getStateColor('um')">
                <mat-card-title>Umidade</mat-card-title>
                <span>{{getStateText('um')}}</span>
            </mat-card>
        </mat-card>

        <!--Seção dos Botões -->
        <mat-card class="card">
            <button mat-raised-button class="button-round" [ngStyle]="{'background-color':lightOn? 'red' : 'green'}"
                (click)="toggleLight()">{{lightOn ? 'Desligar' : 'Ligar'}} luz</button>
            <button mat-raised-button class="button-round" [ngStyle]="{'background-color':bombOn? 'red' : 'green'}"
                (click)="toggleBomb()">{{bombOn ? 'Desativar' : 'Ativar'}} bomba</button>
        </mat-card>
    </div>



</content>