.content {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 20px;
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.title-card {
  grid-column: span 2 / 3;
}
