.content {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 20px;
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.title-card {
  grid-column: span 2 / 3;
}

.button-round {
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.flex {
  display: flex;
}

.flex-item-1 {
  flex: 1;
}

/* Flex Item */
.item {
  margin: 5px;
  font-size: 1.5em;
}

.container {
  max-width: 370px;
  min-width: 300px;

  vertical-align: top;
}
